// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* _border-width-customs.scss */
$border-width-custom-1: 0.25rem !default;
$border-width-custom-2: 0.5rem !default;
$border-width-custom-3: 0.75rem !default;
$border-width-custom-4: 1rem !default;
$border-width-custom-5: 1.25 !default;
$border-width-custom-6: 1.5 !default;
$border-width-custom-7: 1.75 !default;
$border-width-custom-8: 2rem !default;

$border-width-customs: (
    "1": $border-width-custom-1,
    "2": $border-width-custom-2,
    "3": $border-width-custom-3,
    "4": $border-width-custom-4,
    "5": $border-width-custom-5,
    "6": $border-width-custom-6,
    "7": $border-width-custom-7,
    "8": $border-width-custom-8,
);

$object-fit-cover: cover;
$object-fit-contain: contain;
$object-fit-fill: fill;
$object-fit-none: none;
$object-fit-customs: (
    'cover' : $object-fit-cover,
    'contain' : $object-fit-contain,
    'fill' : $object-fit-fill,
    'none' : $object-fit-none,
)    
